body {
    background-color: black;
    color: rgb(157, 235, 250);
    font-family: "Slabo 27px", serif;
}

header{
    font-size: 150px;
}

h1{ 

    font-size: 50px;
}

p{
    font-size: 25px;
}