body {
    color: rgb(157, 235, 250);
    background-color: black;
    font-family: "Indie Flower", cursive;
    margin: 0px;
}


header{
    font-size: 70px;
    border-bottom: dashed 10px lavender;
    /*margin: 30px; */
    padding: 30px;
    color: rgba(179, 255, 0, 0.815);
}

h1{ 

    font-size: 20px;
}

p{
    font-size: 15px;
}
