body {
    background-color: black;
    color: rgb(157, 235, 250);
    font-family: "Indie Flower", cursive;
}

header{
    font-size: 250px;
}

h1{ 

    font-size: 100px;
}

p{
    font-size: 35px;
}